body {
  font-family: sans-serif;
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.circle {
  margin: 10px;
  height: 120px;
  width: 125px;
  background-color: rgb(225, 255, 0);
  padding-left: 5px;
  border-radius: 60px;
}

.flower {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background: hotpink;
  margin-top: 40px;
  margin-right: 5px;
}

.flower::after,
.flower::before {
  content: '';
  position: absolute;
  background: hotpink;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  transform: rotate(60deg);
}

.flower::before {
  transform: rotate(-60deg);
  background: hotpink;
}
